.header {
   &-container {
      display: flex;
      height: 50px;
      padding: 10px;
      background-color: #e8e8e8;
      align-items: center;
      justify-content: space-between;
   }

   &-counter {
      padding-right: 15px;
      font-weight: bold;
      cursor: pointer;
   }
}

.logo {
   width: 25px;
   height: 25px;
   background-image: url("../../image/logo.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;

   & a {
      font-weight: bold;
      font-size: 16px;
      padding-left: 35px;
      color: black;
   }
}
